<div class="container-fluid">
  <div class="row">
    <h1>Sections list</h1>
  </div> <br>
  <div class="row">
    <div class="col-md-6">
      <button class="btnStats"  routerLink="/createSection">Add a new section </button>
    </div>
  </div> <br>
  <div class="row">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Nom</th>
        <th scope="col">Afficher</th>
        <th scope="col">Supprimer</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let section of sections | async" >
        <td scope="row">{{section.id}}</td>
        <td>{{section.name}}</td>
        <td><button (click)="sectionDetails(section.id)" class="btn btn-info"><i class="fa fa-eye"></i></button></td>
        <td><button (click)="deleteSection(section.id)" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
      </tr>
      </tbody>
    </table>
  </div>


</div>
