
<div>
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link active" href="#">Projet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">lien du projet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Modifier</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Nom du projet : {{projet.name}} </h5>
      <p class="card-text"></p>
      <h5 class="card-title">Description : {{projet.descripion}}</h5>
      <p class="card-text"></p>
      <h5 class="card-title">Note du projet: {{projet.note}}  </h5>
      <p class="card-text"></p>
      <h5 class="card-title">Créé le : {{projet.dateDepot}}  </h5>
      <p class="card-text"></p>

      <a href="#" class="btn btn-primary">Retour</a>
    </div>
  </div>
</div>
