
<div>
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link active" href="#">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{projet.url}}" target = "_blank">Github repository</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Update</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Projet name: {{projet.name}} </h5>
      <p class="card-text"></p>
      <h5 class="card-title">Description : {{projet.description}}</h5>
      <p class="card-text"></p>
      <h5 class="card-title">Note of projet: {{projet.note}}  </h5>
      <p class="card-text"></p>
      <h5 class="card-title">Date of creation : {{projet.dateDepot}}  </h5>
      <p class="card-text"></p>

      <a href="home" class="btn btn-primary">Cancel</a>
    </div>
  </div>
</div>
