h1 {
  font-weight: bold;
  color: #62676D;
}
.createCriteria {
  margin: auto;
  padding-top: 25px;

  label {
    font-weight: 500;
  }
}
h4 {
  color: darkgreen;;
  font-size: medium;
  font-weight: 600;
}
