<!--
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Criteria Group List</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let criteriaGroup of criteriaGroups | async">
        <td>{{criteriaGroup.name}}</td>
        <td>{{}}</td>
        <td><button (click)="deleteCriteriaGroup(criteriaGroup.name)" class="btn btn-danger">Delete</button>
          <button (click)="criteriaGroupDetails(criteriaGroup.name)" class="btn btn-info" style="margin-left: 10px">Details</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
-->
