.criteriaListButton {
  padding-top: 25px;
  padding-bottom: 50px;
  .btn1 {
    margin-right: 50px;
    background-color: #B5BFCA;
    font-weight: 400;
    FONT-SIZE: 18px;
  }

  .btn2 {
    margin-left: 50px;
    background-color: #B5BFCA;
    font-weight: 400;
    FONT-SIZE: 18px;
  }

}
h1 {
  font-weight: bold;
  color: #62676D;
}
