
<h1>Criteria List</h1>
<div class="criteriaListButton">
  <button routerLink="/addCriteria" class="btnStatsAdd" *ngIf="this.userRole!=='ETUDIANT'">Add New Criteria</button>
  <button routerLink="/findCriteria" class="btnStatsSearch">Search Criteria</button><br>
</div>
<div class="row">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">URL</th>
      <th scope="col">Show Details</th>
      <th scope="col"*ngIf="this.userRole!=='ETUDIANT'">Delete</th>
      <th scope="col" *ngIf="this.userRole!=='ETUDIANT'">Update</th>
    </tr>
    </thead>
    <tbody *ngFor="let criteria of criteriaList | async">
    <tr>
      <th scope="row">{{criteria.name}}</th>
      <td>{{criteria.type}}</td>
      <td>{{criteria.url}}</td>
      <td><button  (click)="criteriaDetails(criteria.id)" class="btn btn-info "><i class="fa fa-eye"></i></button></td>
      <td *ngIf="this.userRole!=='ETUDIANT'"><button (click)="deleteCriteria(criteria.id)"  class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
      <td *ngIf="this.userRole!=='ETUDIANT'"><button  (click)="updateCriteria(criteria.id)"  class="btn btn-info" style="margin-left: 10px"><i class="fa fa-edit"></i></button></td>
    </tr>
    </tbody>
  </table>
</div>
