<!--
<h3>Update Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="criteriaGroup.name" name="name">
    </div>
    <div class="form-group">
      <label for="id">ID</label>
      <input type="text" class="form-control" id="id" required [(ngModel)]="criteriaGroup.id" name="id">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
-->
