<div class="container">
  <div class="row" text="align-center">
    <h1>{{sessionName}}</h1>
  </div> <br>

  <div class="row">
    <div class="col-md-6">
      <div class="card " style="text-align:left;">
        <div class="card-header bg-info text-white">
          Session {{sessionId}}
        </div>
        <div class="card-body">
          Nom session : <input type="text" name="nameSession" value="{{sessionName}}"><br><br>
          Date depot : <input type="text" name="dateDepotSession" value="{{sessionDateDepot}}"><br><br>
          <!-- Heure depot : <input type="text" name="dateDepotSession" value="{{sessionDateDepot}}"><br><br> -->
          Critères Statiques : <br><br>
          <table class="table table-bordered table-sm">
            <thead>
            <tr>
              <th>Nom</th>
              <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Critère 1 </td>
              <td><input type="text" value="10"> %</td>
            </tr>
            <tr>
              <td>Critère 2</td>
              <td><input type="text" value="20"> %</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card " style="text-align:left;">
        <div class="card-header bg-info text-white">
          Historique
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <tbody *ngFor="let run of sessionRuns">
              <tr>
                <td>{{run.id}}</td>
                <td><button class="btn" (click)="exportCSV(run.id)"><i class="fa fa-download"></i></button></td>                           
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> <br><br>

  <div class="row">
    <div class="col-md-6">
      <mat-form-field >
        <mat-label>Ajouter un projet</mat-label>
        <mat-select >
          <mat-option *ngFor="let project of allProjects" [value]="project.name" (click)="addProjectToSession(project)">
            {{project.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary" (click)="createRun()">Run</button>
    </div>
  </div>
  <br><br>

  <div class="row">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Nom Projet</th>
        <th scope="col">Url</th>
        <th scope="col">Relancé</th>
        <th scope="col">Supprimé</th>        
      </tr>
      </thead>
      <tbody *ngFor="let project of sessionProjects">
      <tr>
        <td>{{project.name}}</td>
        <td>{{project.url}}</td>
        <!-- <td><input type="checkbox" id="" name="select"></td> -->
        <td><button class="btn"><a><i class="fa fa-refresh"></i></a></button></td>
        <td><button class="btn" (click)="deleteProjectFromSession(project)"><i class="fa fa-trash"></i></button></td>                
      </tr>
      </tbody>
    </table>
  </div> <br><br>

  <div class="row">
    <button class="btn btn-primary" (click)="updateSession()">Enregistrer</button>
  </div>

</div>
