<h1>Section : {{section.name}} {{section.startYear}} / {{section.endYear}}</h1>

<div class="row justify-content-around">
<div class="col-4">
  <h3>Teachers list</h3>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Details</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody *ngFor="let teacher of teachers">
    <tr>
      <th scope="row">{{teacher.id}}</th>
      <td>{{teacher.username}}</td>
      <td>{{teacher.email}}</td>
      <td><button class="btn"><i class="fa fa-trash"></i></button></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="col-4">
  <h3>Students list</h3>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Details</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody *ngFor="let student of students">
    <tr>
      <th scope="row">{{student.id}}</th>
      <td>{{student.email}}</td>
      <td>{{student.username}}</td>
      <td><button class="btn"><i class="fa fa-trash"></i></button></td>
    </tr>
    </tbody>
  </table>
</div>
</div>
