<h3>Projets List</h3>


<div class="container-fluid">
  <br>
  <div class="row">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Note</th>
        <th scope="col">Show</th>
        <th scope="col">Test</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody *ngFor="let projet of projets | async">
      <tr>
        <th scope="row">{{projet.id}}</th>
        <td>{{projet.name}}</td>
        <td>{{projet.note}}</td>
        <td><button (click)="projetDetails(projet.id)" class="btn btn-info "><i class="fa fa-eye"></i></button></td>
        <td><button (click)="projetDetails(projet.id)" class="btn btn-light "><i class="fa fa-terminal"></i></button></td>
        <td><button (click)="updateProject(projet.id)" class="btn btn-info" style="margin-left: 10px"><i class="fa fa-edit"></i></button></td>
        <td><button (click)="deleteProject(projet.id)" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
<div class="align-content-lg-around" *ngIf="empty">
  <p>No result </p>
</div>
