<h3>Projets List</h3>
<div class="row">
  <div class="col-md-6" *ngIf="this.userRole=='ETUDIANT'">
    <button class="btn btn-primary" (click)="submit()">Déposer Projet</button>
  </div>
  <div>
    <button (click)="submitTest()" class="btn btn-danger">Test RUN<i class="fa fa-trash"></i></button>
  </div>
</div> <br>

<div class="row" *ngIf="this.userRole=='ETUDIANT'">
  <div class="col-md-3" *ngIf="hideView==false">
    <div class="card " style="text-align:left;">
      <div class="card-header bg-info text-white">
        Déposez votre Projet
      </div>
      <div class="card-body">
        <div class="row">
         
          <mat-form-field >
            <mat-label>Choisissez un projet</mat-label>
            <mat-select [(value)]="selectedProject" >
              <mat-option *ngFor="let project of allProjects" [value]="project">
                {{project.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
         
          <mat-form-field >
            <mat-label>Choisissez la session de depot</mat-label>
            <mat-select [(value)]="selectedSession">
              <mat-option *ngFor="let session of allDepositeSessions" [value]="session">
                {{session.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
        </div>
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-primary" (click)="submitProject(selectedProject,selectedSession)">Deposer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <br>
  <div class="row">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Note</th>
        <th scope="col">Show</th>
        <th scope="col">Test</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody *ngFor="let projet of projets | async">
      <tr>
        <th scope="row">{{projet.id}}</th>
        <td>{{projet.name}}</td>
        <td>{{projet.note}}</td>
        <td><button (click)="projetDetails(projet.id)" class="btn btn-info "><i class="fa fa-eye"></i></button></td>
        <td><button (click)="projetDetails(projet.id)" class="btn btn-light "><i class="fa fa-terminal"></i></button></td>
        <td><button (click)="updateProject(projet.id)" class="btn btn-info" style="margin-left: 10px"><i class="fa fa-edit"></i></button></td>
        <td><button (click)="deleteProject(projet.id)" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
<div class="align-content-lg-around" *ngIf="empty">
  <p>No result </p>
</div>
