

<div class="container">
    <form  #teacherForm="ngForm"  >

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username"   required
        [(ngModel)]="model.username" name="username"  #username="ngModel">
        <div [hidden]="username.valid || username.pristine"
     class="alert alert-danger">
  Username is required
      </div>
    </div>



    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="text" class="form-control" id="email" required
      [(ngModel)]="model.email" name="email" #email="ngModel">
      <div [hidden]="email.valid || email.pristine"
   class="alert alert-danger">
Email is required
    </div>
  </div>


      <div class="form-group">
        <label for="pwd">motDePasse</label>
        <input type="text" class="form-control" id="pwd" required
        [(ngModel)]="model.password" name="pwd" #pwd="ngModel">
        <div [hidden]="pwd.valid || pwd.pristine"
     class="alert alert-danger">
Mdp is required
      </div>
    </div>

      <div class="form-group">
        <label for="gtb">github</label>
        <input type="text" class="form-control" id="gtb" required
        [(ngModel)]="model.githubAccount" name="gtb" #gtb="ngModel">
        <div [hidden]="gtb.valid || gtb.pristine"
     class="alert alert-danger">
Github is required
      </div>
    </div>


<div>
  <mat-form-field>

        <mat-select  name="secSelected" [(ngModel)]="model.sectionName" placeholder="sections" multiple >
          <mat-option *ngFor="let section of sections" [value]="section">
            {{section}}
          </mat-option>
      </mat-select>
    </mat-form-field>
</div>
      <div>

   <button [value]="actionButton" (click)= "createTeacher()"   [disabled]="!teacherForm.form.valid" type="submit" class="btn btn-success">Submit</button>
    </div>

    </form>

</div>


