<div class="container">
	<div class="row">
		<h1>Ajout des critères</h1>
    </div> <br>

    <div class="row">
        <div class="card " style="text-align:left;">
            <div class="card-header bg-info text-white">
                Critères
            </div>
            <div class="card-body">
                <div class="row">
                    <mat-form-field>
                      <mat-label>Type du critère</mat-label>
                      <mat-select>
                        <mat-option (click)="changeCritereType('Statique')" value="Statique"> Statique </mat-option>
                        <mat-option (click)="changeCritereType('Dynamique')" value="Dynamique"> Dynamique </mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
            
                <div class="row">
                    <mat-form-field *ngIf="this.typeCritere=='Statique'"> 
                        <mat-label>Selectionnez un critère</mat-label>
                        <mat-select [(value)]="nameCritere">
                            <mat-option *ngFor="let critere of statiqueCiterias" value="{{critere.name}}"> {{critere.name}} </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field *ngIf="this.typeCritere=='Dynamique'">							
                        <mat-label>Selectionnez un critère</mat-label>
                        <mat-select [(value)]="nameCritere"> 
                            <mat-option *ngFor="let critere of dynamiqueCiterias" value="{{critere.name}}"> {{critere.name}} </mat-option>
                        </mat-select> 
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field>
                        <mat-label>Poids du critère</mat-label>
                        <input matInput [(ngModel)]="poidsCritere">
                        <mat-hint><strong>Le pourcentage du critère dans la note</strong></mat-hint>
                    </mat-form-field>
                </div><br>

                <div class="row">
                    <mat-form-field *ngIf="this.userRole!=='ETUDIANT'">
                        <mat-label>Seuil du critère</mat-label>
                        <input matInput placeholder="Ex. Seuil Bugs=20" [(ngModel)]="seuilCritere">
                        <mat-hint><strong>Seuil à partir duquel on a pas à évaluer le critère</strong></mat-hint>
                    </mat-form-field>
                </div><br><br>

                <div class="row">
                    <div class="col-md-6">
                    <button class="btn btn-primary" (click)="addCriteria()">Ajouter</button>
                    </div>
                </div><br>

                <div class="row">
                    <ul style="list-style-type: none;">
                        <li *ngFor="let sessionCritere of createdCriteria" (click)="retrieveCriteriaToSelected(sessionCritere)">
                            <i class="fa fa-minus"></i> {{sessionCritere.name}} : {{sessionCritere.height}} %
                        </li>
                    </ul>						
                </div>
            </div>
        </div>
    </div> <br>
    <div class="row">
		<div class="col-md-6">
		  <button class="btn btn-primary" (click)="updateSession()">Terminer</button>
		</div>
	</div> <br>
</div>