<!-- <div className="profile-container">
    <div className="container">
        <div className="profile-info">
            <div class="profile-avatar">
                        <img src={{imageURL}} alt={{username}}/>
                
                        <div class="text-avatar">
                            <span>{{name}}</span>
                        </div>
            </div>
            <div class="profile-name">
               <h2>{{name}}</h2>
               <p class="profile-email">{{email}}</p>
            </div>
        </div>
    </div>    
</div> -->

<div class="card">
    <img src={{imageURL}} alt={{username}} style="width:100%">
    <h1>{{name}}</h1>
    <h3>{{username}}</h3>
    <p class="title">Université Paris-Nanterre</p>
    <h3>{{roles}}</h3>
    <p>{{email}}</p>
    <a href={{htmlURL}}><i class="fa fa-github"></i></a>
    <p></p>
    <p><button></button></p>
    
  </div>