<div className="profile-container">
    <div className="container">
        <div className="profile-info">
            <div class="profile-avatar">
                        <img src={{imageURL}} alt={{username}}/>
                
                        <div class="text-avatar">
                            <span>{{name}}</span>
                        </div>
            </div>
            <div class="profile-name">
               <h2>{{name}}</h2>
               <p class="profile-email">{{email}}</p>
            </div>
        </div>
    </div>    
</div>